{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            {{ form_start(form) }}
            <div class="col-6">
                <p>{{ user.prenom }} {{ user.nom }}</p>
            </div>
            <div class="col-6">
                <div class="form-group">
                    {{ form_row(form.prenom) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.nom) }}
                </div>
                <div class="form-btn-group text-right">
                    <button type="submit" class="btn btn-info mt-4">
                        Enregistrer
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}