{# logged/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="text-center text-info mt-5">Profil de {{userLogged.prenom  }}</h1>
        <div class="row p-5">
            <div class="col-12">
                <a href="{{ path('app_profil_edit') }}">
                    <img class="img-fluid" src="{{ asset('profil-img/' ~ userLogged.getProfilImg) }}" alt="" />
                </a>
            </div>
            </div>
            <div class="col-12">
                <h4 class="mt-3">{{ userLogged.prenom }} {{ userLogged.nom }}</h4>
                <p class="mt-3">email : {{ userLogged.email }}</p>
                <p class="mt-3">age : {{ userLogged.age }}</p>
                <p class="mt-3">Disponibilité : du <span class="text-info">{{ userLogged.getDateDispo|date('d/m/Y') }}</span> au <span class="text-info">{{ userLogged.DateFin|date('d/m/Y') }}</span></p>
            </div>
        </div>
    </div>
{% endblock %}