{# layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <div class="container navbar-nav">
            <a class="navbar-brand" href="{{ path('app_index_index') }}">
                Hexago
            </a>
            <ul class="navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="">Admin</a>
                    </li>

                {% endif %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('app_sejour_index') }}">
                        Sejours
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('app_user_index') }}">
                        Utilisateurs
                    </a>
                </li>
                {# app.user : l'utilisateur connecté ou null #}
                {% if app.user is null %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('app_sejour_index') }}">
                            Sejours
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('app_security_register') }}">
                            Inscription
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('app_security_login') }}">
                            Connexion
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_profil_index') }}">
                            {{ app.user.prenom }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('app_security_logout') }}">
                            Déconnexion
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {# affichage des messages flash #}
        {% for type, flashes in app.session.flashBag.all %}
            {% for flash in flashes %}
                {# pour la classe alert-danger du twitter bootstrap #}
                {% if type == 'error' %}
                    {% set type = 'danger' %}
                {% endif %}
                <div class="alert alert-{{ type }}">
                    {{ flash|raw }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}