{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="form-btn-group">
            <a class="btn btn-danger" href="{{ path('app_profil_index') }}">Retour</a>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Age : {{ user.age }}</p>
            </div>
            <div class="col-6">
                {{ form_start(form) }}
                    {{ form_row(form.age) }}
                <div class="form-btn-group">
                    <button class="btn btn-info" type="submit">Enregistrer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}