{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container py-5">
        <div class="row mt-5">
            <div class="col-12">
                <img class="img-fluid" src="{{ asset('sejour-img/' ~ sejour.villeImg) }}" alt="">
            </div>
            <div class="col-12">
                <h5 class="text-info mt-2">{{ sejour.ville }}</h5>
                <p>prix : {{ sejour.prix }}</p>
                <p>Date : {{ sejour.dateDepart|date('d/m/Y à H:m') }}</p>
                <p>Hebergement : {{ sejour.hebergement }}</p>
                <p>Transport : {{ sejour.transport }}</p>
                <p>Durée : {{ sejour.duree }}</p>
                <p>Description : {{ sejour.description }}</p>
                <p>Activité : {{ sejour.activitesSejour }}</p>
                <p>Region : {{ sejour.regionSejour }}</p>
                <div>
                    <button class="btn btn-info">Choisir</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}