{% extends 'layout.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}

    <div class="container">
        <div class="row py-5">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Séjour</th>
                    <th scpe="col" class="text-right">
                        <a class="btn btn-outline-info" href="{{ path('app_admin_addsejour') }}">
                            Ajouter un séjour
                        </a>
                    </th>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prix</td>
                    <td>Date</td>
                </tr>
                </thead>
                <tbody>
                {% for sejour in sejours %}
                <tr>
                    <td>{{ sejour.ville }}</td>
                    <td>{{ sejour.prix }} €</th>
                    <td>{{ sejour.dateDepart|date('d/m/Y') }}</td>
                    <td>
                        <a class="btn btn-outline-danger" href="{{ path('app_admin_deletesejour', {id: sejour.id}) }}">
                            Supprimer
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row py-5">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Activités</th>
                    <th scpe="col" class="text-right">
                        <a class="btn btn-outline-info" href="{{ path('app_admin_addactivites') }}">
                            Ajouter une activitée
                        </a>
                    </th>
                </tr>
                <tr>
                    <td>Activitées</td>
                </tr>
                </thead>
                <tbody>
                {% for activity in activities %}
                    <tr>
                        <td>{{ activity.name }}</td>
                        <td>
                            <a class="btn btn-outline-info" href="{{ path('app_admin_deleteactivites', {id: activity.id}) }}">
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row py-5">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Régions</th>
                    <th scpe="col" class="text-right">
                        <a class="btn btn-outline-info" href="{{ path('app_admin_addregion') }}">
                            Ajouter une région
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>Nom</th>
                </tr>
                </thead>
                <tbody>
                {% for region in regions %}
                    <tr>
                        <td>{{ region.region }}</td>
                        <td>
                            <a class="btn btn-outline-info" href="{{ path('app_admin_deleteregion', {id: region.id}) }}">
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
